body{
    background-color: #ECF2F7;
    font-family: Manrope;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 590px;
    height: 230px;
    border-radius: 5px;
}

img{
    width: 220px;
    height: 230px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

h1{
    font-size: 16px;
    font-weight: 700;
    word-spacing: 3px;
    position: absolute;
    top: 1%;
    left: 41%;
    padding: 10px;
    color: hsl(217, 19%, 35%); 
}

p{
    font-size: 11px;
    font-weight: 500;
    padding: 10px;
    word-spacing: 3px;
    position: absolute;
    top: 35%;
    left: 41%;
    color: hsl(217, 19%, 35%);
}

#avatar{
    position: absolute;
    bottom: 10%;
    right: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

h2{
     font-size: 12px;
    font-weight: bolder;
    padding: 5px;
    position: absolute;
    top: 69%;
    left: 51%;
}

h3{
    font-size: 10px;
    font-weight: 400;
    padding: 5px;
    position: absolute;
    top: 76%;
    left: 51%;
    color: hsl(217, 19%, 35%);
}