body{
    background-color: #ECF2F7;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 570px;
    height: 230px;
    border-radius: 5px;
}

img{
    width: 220px;
    height: 230px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

h1{
    font-size: 20px;
    position: absolute;
    top: 1%;
    left: 41%;
    padding: 10px;
}