body{
    background-color: #F3E5D8;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    width: 630px;
    height: 1000px;
}


img{
    border-radius: 30px;
    width:530px;
    position: relative;
    left: 7%;
    padding-top: 15px;
    
}

h1{

  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  text-indent: 20px;
}

p{
font-family: "Outfit", sans-serif;
font-size: 15px;
text-indent: 20px;
line-height: 2px;

}