body{
    background-color: #F3EBE4
}

.container {
  padding: 10px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
    width: 500px;
    height: 360px;
}

img{
    width: 253px;
    position: relative;
    bottom: 2.7%;
    right: 2.3%;
    border-end-start-radius:20px;
    border-top-left-radius: 20px;
}

h1{
    position: absolute;
    top: 5%;
    left: 64.5%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
    letter-spacing: 5px;
}

h2{
     position: absolute;
    top: 18%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    font-weight: 700;
    font-family: Fraunces;
    
}

p{
     position: absolute;
    top: 45%;
    left: 70%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;

}